<!DOCTYPE html>
<html lang="en">
 <head>
   <title>Courses </title>
   <link rel="stylesheet" href="static/style.css">
 </head>
 <body>
    <header>
      <nav>
        <h1>Courses</h1>
        <ul>
         <li><a href="index">Home</a></li>
         <li><a href="courses" class = "current">Courses</a></li>
         <li><a href="interests">Interests</a></li>
         <li><a href="other">Other</a></li>
        </ul>
      </nav>
    </header>
     <div id="content">
      <img src = "static/logos_umsi.png" alt = "UMSI logo"/><h2>Courses</h2>Put stuff about courses here. 
    </div>
    <footer>
      &copy; Colleen van Lent 2015
     </footer>
 </body>
</html>
